{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
        
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xs-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Automatically rebalance your investing portfolio</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                    <h3>CS50 final project</h3>
                    <p class="lead mb-0">This rebalanceing website is my final project for CS50</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                    <h3>Tech stack</h3>
                    <p class="lead mb-0">CSS bootstrap frontend; flask and SQLite 3 for the backend</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>API integration</h3>
                    <p class="lead mb-0">(Attempts) to integrate with the API of MyInvestor</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}