{% extends "base.html" %}

{% block title %}
    Sign-up
{% endblock %}

{% block main %}

    <div class="card-header"><h3 class="text-center font-weight-light my-4">Sign-up</h3></div>

    <div class="card-body">
        <form action="/register" method="post">
            <div class="form-floating mb-3">
                <input class="form-control" id="username" type="username" placeholder="Username" />
                <label for="username">Username</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="password" type="password" placeholder="Password" />
                <label for="password">Password</label>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" id="confirmation" type="password" placeholder="Confirm password" />
                <label for="confirmation">Confirm Password</label>
            </div>

            <div class="mt-4 mb-0">
                <div class="d-grid"><a class="btn btn-primary btn-block" type="submit">Create Account</a></div>
            </div>
        </form>
    </div>

    <div class="card-footer text-center py-3">
        <div class="small"><a href="/login">Have an account? Go to login</a></div>
    </div>

{% endblock %}