body {
    background-color: #fff;
    color: #303030;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    letter-spacing: 3px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-align: left;
}

nav {
    text-transform: uppercase;
}

p {
    text-align: left;
    letter-spacing: 1.5px;
}

ul {
    text-align: left;
    letter-spacing: 1.5px;
}

ol {
    text-align: left;
    letter-spacing: 1.5px;
}

dl {
    text-align: left;
    letter-spacing: 1.5px;
}

a:link {
    color:#a8a8a8;
}

a:visited {
    color:#a8a8a8;
}

a:hover {
    color:#cccccc;
}

a:active {
    color:#cccccc;
}