{% extends "dashboard_layout.html" %}

{% block title %}
Ideal portfolio
{% endblock %}

{% block main %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Ideal portfolio</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Define your ideal portfolio here</li>
    </ol>
    
    <div class="row">
        <label for="asset-0" class="form-label">Asset: Cash (%)</label>
        <input type="range" class="form-range" min="0" max="100" step="1" id="asset-0">
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Area Chart Example
                </div>
                <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Bar Chart Example
                </div>
                <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}