{% extends "dashboard_layout.html" %}

{% block title %}
Ideal portfolio
{% endblock %}

{% block main %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Ideal portfolio</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Define your ideal portfolio here</li>
    </ol>
    
    <div class="row">
        <form action="/ideal-portfolio" method="post">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Name (ISIN)</th>
                                <th scope="col">Target Allocation</th>
                                <th scope="col" style="min-width: 132px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="assetTable">
                            <tr id="assetRow-0">
                                <td>
                                    <select class="form-select" id="fund" name="fund-0">
                                    {% for fund in funds %}
                                    <option value="{{fund.isin}}">{{fund.name}} ({{fund.isin}})</option>
                                    {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" id="allocation" name="allocation-0" type="number" min="0" max="100" placeholder="%">
                                </td>
                                <td>
                                    <ul class="list-inline m-0">
                                        <li class="list-inline-item">
                                            <button id="addAssetRow" class="btn btn-success btn-lg" type="button" data-toggle="tooltip" data-placement="top"
                                                title="Add" onclick="addRow()"><i class="fa fa-plus"></i></button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button id="deleteAssetRow" class="btn btn-danger btn-lg" type="button" data-toggle="tooltip" data-placement="top"
                                                title="Delete" onclick="deleteRow(this)"><i class="fa fa-trash-alt"></i></button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-primary" type="submit">Save portfolio</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}