{% extends "dashboard_layout.html" %}

{% block title %}
Real portfolio
{% endblock %}

{% block main %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Real portfolio</h1>

    <div class="row">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Current real portfolio
                </div>
                <div class="card-body">
                    <p>Placeholder</p>
                </div>       
            </div>
        </div>
    </div>
</div>

{% endblock %}