{% extends "dashboard_layout.html" %}

{% block title %}
Real portfolio
{% endblock %}

{% block main %}

<div class="container-fluid px-4">
    <h1 class="mt-4">Real portfolio</h1>

    {% if ideal_portfolio_exists %}

        {% if real_portfolio_exists %}

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">You can view and delete your saved real portfolio here</li>
        </ol>

        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Current real portfolio
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover" id="datatablesSimple">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">ISIN</th>
                                        <th scope="col">Current Allocation (%)</th>
                                        <th scope="col">Target Allocation (%)</th>
                                        <th scope="col">Difference (%)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fund, name, real_allocation, ideal_allocation in user_data %}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{fund}}</td>
                                        <td>{{ real_allocation|round(2, 'common') }}</td>
                                        <td>{{ ideal_allocation|round(2, 'common') }}</td>
                                        <td {% if ideal_allocation - real_allocation > 0 %} class="positive" {% else %} class="negative" {% endif %} >{{ (ideal_allocation-real_allocation)|round(2, 'common') }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <form action="/real-portfolio" method="post">
                <button class="btn btn-danger" type="submit">Delete portfolio</button>
            </form>
        </div>

        {% else %}

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Define your real portfolio here</li>
        </ol>

        <div class="row">
            <form action="/real-portfolio" method="post">
                <div class="col-xl-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Real portfolio builder
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover" id="datatablesSimple">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">ISIN</th>
                                            <th scope="col">Current Ammount (€)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fund, name in user_data %}
                                        <tr>
                                            <td class="align-middle">{{name}}</a></td>
                                            <td class="align-middle">{{fund}}</td>
                                            <td>
                                                <input class="form-control form-control-sm" id="ammount" name="ammount-{{loop.index0}}" type="number" min="0" step="0.01" placeholder="€" required>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Save portfolio</button>
            </form>
        </div>

        {% endif %}

    {% else %}

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Define your real portfolio here</li>
    </ol>

    <div class="row">
        <div class="col-xl-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">No ideal portfolio was found, create one first</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{{url_for('views.ideal_portfolio')}}">Go to ideal portfolio builder</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

</div>

{% endblock %}