{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="symbol">
                <option disabled="" selected="">Symbol</option>
                {% for stock in stocks %}
                <option value={{stock.symbol}}>{{stock.symbol}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Shares" min=1 type="number">
            </div>
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}

    {% for stock in stocks %}
    <tr>
      <th scope="row">{{stock.symbol}}</th>
      <td>{{stock.name}}</td>
      <td>{{stock.shares}}</td>
      <td>{{stock.price | usd}}</td>
      <td>{{stock.total | usd}}</td>
    </tr>
    {% endfor %}

